*, *::after, *::before {
    box-sizing: border-box;
}
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}
body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    background-color: rgb(73, 112, 219);
    height: var(--mark-size);
}
.cell.x::before {
    transform: rotate(45deg);
}
.cell.x::after {
    transform: rotate(-45deg);
}

.cell.cir::before,
.cell.cir::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}
.cell.cir::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: #bf54da;
}
.cell.cir::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}